* {
	box-sizing: border-box;
}

.clear_fix::after {
  clear: both;
  display: table;
  content: "";
}

.main_wrapper {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
}

body,
h1 {
		font-family: Arial, Helvetica, sans-serif;
		margin: 0;
}

.heading_txt {
  text-align: center;
  margin: 35px auto;
}

a {
	color: black;
}

.row {
		background-color: #e7e6e7c7;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		padding: 10px 16px 40px 16px;
}

.column {
	padding: 8px;
	max-height: 450px;
	background-color:#ffffff;
	text-align: center;
	border: 1px solid #bdbdbde3;
	border-top: 10px solid #eca73e;
	overflow: scroll;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin: 5px auto;
}

@media screen and (min-width: 600px) {
	.child {
		width: 50%;
		float: right;
	}
	.child:nth-child(even) {
		padding-right: 4px;
	}
	.child:nth-child(odd) {
		padding-left: 4px;
	}
}

@media screen and (min-width: 900px) {
	.child {
		width: 25%;
		float: right;
	}

	.child:nth-child(2) {
		padding-left: 8px;
	}

}
