* {
	box-sizing: border-box;
}

/* font  */
body {
font-family: Arial, Helvetica, sans-serif;
}

.h1style {
	text-align: center;
}

a {
	color: black;
}

/* Create columns*/
.column {
	float: left;
	padding: 10px;
	height: 450px;
}

/* Left and right column */
.column.side1 {
	/*width: 90%;*/
  background-color:#ffffff;
	text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px;
	border: 1px solid #bdbdbde3;
	border-top: 10px solid #eca73e;
	overflow: scroll;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	
}


/* Left and right column */
.column.side2 {
  /*width: 90%;*/
  background-color:#ffffff;
	text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
	border: 1px solid #bdbdbde3;
	border-top: 10px solid #eca73e;
	overflow: scroll;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin-left: 20px;
	margin-right: 20px;
}


/* Middle column */
.column.middle {
	/*width: 90%;*/
  background-color:#ffffff;
	text-align: center;
	margin-top: 5px;
  margin-bottom: 5px;
	border: 1px solid #bdbdbde3;
	border-top: 10px solid #eca73e;
	overflow: scroll;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin-left: 20px;
	margin-right: 20px;
}

.column.middle2 {
	/*width: 90%;*/
  background-color:#ffffff;
	text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
	border: 1px solid #bdbdbde3;
	border-top: 10px solid #eca73e;
	overflow: scroll;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin-left: 20px;
	margin-right: 20px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
	background-color: #e7e6e7c7;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding-top: 10px;
	padding-bottom: 40px;
	/*margin-left: 50px;
	margin-right: 50px;*/
	max-width: 1400px;
  margin: 0 auto;
}

/* responsive  */
@media screen and (min-width: 600px) and (max-width: 800px) {
  .column.middle {
    width: 40%;
		margin-left: 35px;
  }
	.column.middle2 {
		width: 40%;
		margin-left: 35px;
	}
  .column.side1 {
    width: 40%;
		margin-left: 35px;
  }
  .column.side2 {
    width: 40%;
		margin-left: 35px;
  }

}

@media screen and (min-width: 800px) {
  .column.middle {
    width: 15%;
		margin-left: 45px;
  }
	.column.middle2 {
		width: 15%;
		margin-left: 45px;
	}
  .column.side1 {
    width: 15%;
		margin-left: 15%;
  }
  .column.side2 {
    width: 15%;
		margin-left: 45px;
  }
}